#bodyBackgroundOne {
	position: fixed;
	height: 100%;
	width: 100%;
	background: url("../img/newnewBackground.jpg") fixed;
	z-index: 0;
}

#bodyBackgroundTwo {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: url("../img/newBackground.jpg") fixed;
	z-index: 0;
}

#bodyBackgroundThree {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: url("../img/newnewnewBackground.jpg") fixed;
	z-index: 0;
}

#one {
	background: #20141E; 
	height: 117px;
	width: 100%;
	position: relative;
	border-top: 1px solid rgba(255,255,255,0.3);
	z-index: 100;
}

#two {
	background: url("../img/dark_wood.png") 50% 50%;
	width: 100%;
	height: 1100px;
	position: relative;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	z-index: 100;
}

#two article { 
	width: 100%; top: 300px; 
	position: absolute; 
	text-align: center;
}

#three {	
	width: 100%;
	height: 500px;
}

#four {
	background: url("../img/dark_wood.png");
	width: 100%;
	height: 1100px;	
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	z-index: 100;
	position: relative;
}

#five {	
	width: 100%;
	height: 1100px;
}

#six {
	background: url("../img/dark_wood.png");
	width: 100%;
	height: 1100px;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	z-index: 100;
	position: relative; 
}

#seven {
	width: 100%;
	height: 500px;
}

#eight {
	background: url("../img/dark_wood.png");
	width: 100%;
	height: 1100px;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	z-index: 100;
	position: relative; 
}

#nine {
	background: url("../img/dark_wood.png");
	width: 100%;
	height: 1100px;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	z-index: 100;
	position: relative; 
}

#ten {
	width: 100%;
	height: 500px;
}

#eleven {
	background: url("../img/dark_wood.png");
	width: 100%;
	height: 1100px;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	z-index: 100;
	position: relative; 
}

#twelve {
	background: url("../img/dark_wood.png");
	width: 100%;
	height: 1100px;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	z-index: 100;
	position: relative; 
}
	

#logo {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	margin: auto;
	text-align: center;
	-webkit-border-radius: 117px;
  -moz-border-radius: 117px;
  border-radius: 117px;
  width: 234px;
  height: 234px;
  background: #20141E url("../img/Logo.png") no-repeat 50% 50%;
  box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.5);
}

#one-content {
	text-align: center;
}

#mainTitle {
	position: relative;
}

#title {
	text-align: center;
	padding-top: 25px;
	color: #FFD2D7;
	text-shadow: 1px 1px #000;
}

.sectionTitle {
	padding-top: 50px;
	text-shadow: 1px 1px #000;
	position: relative;
}

#nav {
	display: none;
	position: fixed;
	top: 117px;
	z-index: 999;
	color: #000;
	background: #20141E;
	margin-left: 17px;
	width: 200px;
	box-shadow: 0px 5px 25px 1px rgba(0,0,0,0.8);
}

#navList {
	text-align: center;
	margin-top: 137px;
	list-style-type: none;
	margin-left: 0;
}

.navListItem {
	background: #20141E;
}

.navListItem:hover {
	background: #FFF;
}

.navListItemTag {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;	
	width: 100%;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

.navListItemTag:hover {
	text-decoration: none;
	color: #20141E;
}

#four-pic1 {
	background: url("../img/Hair lg (4).jpg") fixed;
	position: relative;
	margin-left: 20%;
	width: 20%;
	height: 400px;
	float: left;
}

#four-pic2 {
	background: url("../img/Hair lg (4).jpg") fixed;
	position: relative;
	margin-left: 40px;
	width: 20%;
	height: 400px;
	float: left;
}

#four-pic3 {
	background: url("../img/Hair lg (4).jpg") fixed;
	position: relative;
	margin-left: 40px;
	width: 20%;
	height: 400px;
	float: left;
}

#four-pic4 {
	background: url("../img/Hair lg (4).jpg") fixed;
	position: relative;
	margin-left: 20%;
	width: 20%;
	height: 400px;
	float: left;
}

#four-pic5 {
	background: url("../img/Hair lg (4).jpg") fixed;
	position: relative;
	margin-left: 40px;
	width: 20%;
	height: 400px;
	float: left;
}

#four-pic6 {
	background: url("../img/Hair lg (4).jpg") fixed;
	position: relative;
	margin-left: 40px;
	width: 20%;
	height: 400px;
	float: left;
}

#six-pic1 {
	background: url("../img/Pedicure lg (4).jpg") fixed;
	position: relative;
	margin-left: 20%;
	width: 20%;
	height: 400px;
	float: left;
}

#six-pic2 {
	background: url("../img/Pedicure lg (4).jpg") fixed;
	position: relative;
	margin-left: 40px;
	width: 20%;
	height: 400px;
	float: left;
}

#six-pic3 {
	background: url("../img/Pedicure lg (4).jpg") fixed;
	position: relative;
	margin-left: 40px;
	width: 20%;
	height: 400px;
	float: left;
}

#six-pic4 {
	background: url("../img/Pedicure lg (4).jpg") fixed;
	position: relative;
	margin-left: 20%;
	margin-top: 40px;
	width: 20%;
	height: 400px;
	float: left;
}

#six-pic5 {
	background: url("../img/Pedicure lg (4).jpg") fixed;
	position: relative;
	margin-left: 40px;	
	margin-top: 40px;
	width: 20%;
	height: 400px;
	float: left;
}

#six-pic6 {
	background: url("../img/Pedicure lg (4).jpg") fixed;
	position: relative;
	margin-left: 40px;
	margin-top: 40px;
	width: 20%;
	height: 400px;
	float: left;
}